<% if signed_in?%>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info'%>
		</section>
		<section>
			<%= render 'shared/stats'%>
		</section>
		<section>
			<%= render 'shared/micropost_form'%>
		</section>
	</aside>
	<div class="span8">
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed'%>
	</div>
</div>	

<% else%>
<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>

	<h2>
		This is the home page for the
		<a href="http://www.youtube.com/watch?v=-aBJxYxo1HU">Surf lessons app</a>.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center">
  <div class="tabs_fade">
    <div class="tabs_view">
      <div class="tab_fade">
        <%= link_to image_tag("kelly_slater.jpg", alt: "Kelly Slater"), 
          'http://en.wikipedia.org/wiki/Kelly_Slater' %>
      </div>
      <div class="tab_fade">
        <%= link_to image_tag("kelly_slater2.jpg", alt: "Kelly Slater"), 
          'http://upload.wikimedia.org/wikipedia/commons/1/1b/KellySlater_byRobKeaton.jpg' %>
      </div>
      <div class="tab_fade">
        <%= link_to image_tag("kelly_slater3.jpg", alt: "Kelly Slater?"), 
          'http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/9/20/1284978763835/Surfer-dog-Deagan-rides-a-021.jpg' %>
      </div>
    </div>
    <div class="tabs_fade_footer">
      <div class="tab_button first">test</div>
      <div class="tab_button second">test</div>
      <div class="tab_button third">test</div>
      <div class="tab_cursor"><%= image_tag("surfer-icon.jpg") %></div>
    </div>
  </div>
</div>

<% end %>
